%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      =link_to "Awections", root_path, class: "navbar-brand"

    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          =link_to "Products", products_path

      %ul.nav.navbar-nav.navbar-right
        -if current_user
          %p.navbar-text
            You are signed in as #{current_user.email}.
            =link_to "Sign out", destroy_user_session_path, method: :delete
        -else
          %li=link_to "Sign in", new_user_session_path
